@charset "utf-8";
/* 定义body及靠左靠右浮动的框 */

body {
    color: #969696;
    margin: 0px;
    font-size: 12px;
    font-family: Tahoma, Arial, "微软雅黑", "黑体", "宋体";
    background: #fff;
}

img {
    border: none;
    -ms-interpolation-mode: bicubic;
}


.fl {
    float: left;
    margin: 0px;
}

.fr {
    margin: 0px;
    float: right;
}

#body {
    width: 900px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


/* 头部 */
#header {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #a0bedc;
}

#header a {
    padding-left: 4px;
    padding-right: 4px;
}

#header span {
    width: 75px;
    height: 75px;
    display: inline-block;
    border: 3px solid white;
    margin-left: 5px;
    margin-right: 5px;
}

/* 容器 */
#container {
    padding: 10px;

    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

/* 页脚 */  
#footer {
    font: Arial;
    width: 900px;
    height: 35px;
    color: #6f6f6f;
    margin-top: 20px;
    margin-bottom: 10px;

    overflow: hidden;
    border-top:1px #d8d8d8 solid;

    padding-top: 10px;
    padding-left:5px;
}

/* 通用的登录框 */
#minLogin {
    width: 370px;
    height: 250px;
}

#minLogin input {
}

#minLogin a {
}
