/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* 布局 */

/* 2栏布局 */
.layout-2 {
    margin: 0 auto;
}

.layout-2 .left {
    float: left;
}

.layout-2 .right {
    float: left;
}


/* 2栏布局 */


/* 站点结构 开始 */

#warpper {
    text-align: center;
    min-width: 900px;
    margin-top: 5px;
}


#warpper #header {
    width: 900px;
    height: 150px;
    margin: 0 auto;

    font: 12px/1.6 arial, helvetica, sans-serif;
}

#header a:link, a:visited {
    color: #666;
    text-decoration: none;
}

#header #logo {
    width: 310px;
    padding-bottom: 38px;
    float: left;
}

#header #user {
    margin-right: 0 auto;
}

#header #anony {
    float: right;
}

#anony a {
    color: #666666;
    margin: 0px;
    padding: 8px 8px;
    display: inline-block;
    background: #E5E6E6;
}
#anony #an_login {
}


#main {
    width: 900px;
    margin: 0px auto;
}

#footer {
    width: 900px;
    margin: 0px auto;
}

/* 站点结构 结束 */



/* 通用样式 开始 */
.container {
    font-size: 9px;
    text-align: left;
    letter-spacing: 0;
    vertical-align: top;
}


/* 表单 */

.form-1 {
}

.form-1 .item {
    color: #666666;
    margin: 8px 0px;

    line-height: 30px;
    padding: 8px 5px 8px 10px;

    font-size: 14px;
}

.form-1 input {
    height: 25px;
    font-size: 1.2em;
    line-height: 30px;

    color: #212121;
    padding: 4px 8px;
    border: 1px solid #C9C9C9;
    border-radius: 3px 3px 3px 3px;
}

.form-1 label {
    width: 60px;
    float: left;

    font-size: 14px;
    text-align: right;
    margin-right: 15px;
    vertical-align: middle;
    display: inline-block;
}

.form-1 a, a:visited {
    color: #3E4243;
    cursor: pointer;
    font-weight: inherit;
    font-size: 1em;
}


.form-1 .wrong {
    border: 1px solid red;
}

.form-1 .monition {
    float: right;
    font-size: 0.8em;
    margin: -7px 5px 0px 5px;
}

.form-1 .submit {
    width: 110px;
    height: 35px;

    color: #333;
    float: right;
    margin-right: 15px;

    font-size: 14px;
    text-align: center;
    line-height: 35px;

    cursor: pointer;
    border: 0 none;
    outline: 0 none;
    display: block;
    background-color: #A6D9CA;
}



/* 表单 */

.form-2 {
}

.form-2 .item {
    color: #666666;
    margin: 8px 0px;

    line-height: 30px;
    padding: 8px 5px 8px 10px;

    font-size: 14px;
}

.form-2 .item1 {
    color: #666666;
    margin: 8px 0px;

    font-size: 1.2em;
    line-height: 30px;

    padding: 8px 5px 8px 10px;
}

.form-2 label {
    width: 60px;
    float: left;

    text-align: right;
    margin-right: 15px;
    vertical-align: middle;
    display: inline-block;
}


.form-2 .text {
    width: 255px;
    height: 25px;
    font-size: 1.2em;

    color: #212121;
    padding: 4px 8px;

    float: left;

    border: 1px solid #C9C9C9;
    border-radius: 3px 3px 3px 3px;
}

.form-2 .mutitext {
    width: 455px;
    height: 270px;
    color: #212121;

    font-size: 1.2em;
    line-height: 30px;

    float: left;

    padding: 4px 8px;
    border: 1px solid #C9C9C9;
    border-radius: 3px 3px 3px 3px;
}


.form-2 .wrong {
    border: 1px solid red;
}

.form-2 .monition {
    float: right;
    font-size: 0.8em;
    margin: -7px 5px 0px 5px;
}

.form-2 .submit {
    width: 110px;
    height: 35px;

    color: #333;
    font-size: 14px;

    margin: 13px;
    float: right;
    line-height: 35px;
    text-align: center;

    cursor: pointer;
    border: 0 none;
    outline: 0 none;
    display: block;
    background-color: #A6D9CA;
}




.ui-dialog {
    z-index: 100;
    position: fixed;

    border-radius: 0 0 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: none repeat scroll 0 0 #FFFFFF;
}

.ui-dialog .close {
    float: right;
    margin: 5px;
    font-size: 9px;
    cursor: pointer;
}

.ui-dialog .column {
    height: 400px;
    float: left;

    letter-spacing: 0;
    vertical-align: top;
}

.ui-dialog-col1  {
    width: 190px;
    background-color: #3E4243;
}

.ui-dialog-col2 {
    width: 300px;
}

.ui-dialog .item {
    color: #666666;

    width: 255px;
    height: 19px;
    padding: 8px 0px 8px 25px;
    font-size: 12px;

    float: left;
    margin: 8px 0px;
    background-color: #EEF1F0;
}

.ui-dialog .form {
    margin-top: 100px;
}

.ui-dialog .form label {
    float: none;
}

.ui-dialog .input {
    top: 10px;
    color: #3E3243;

    border: 0 none;
    background-color: #EEF1F0;
    padding: 0px 3px;
}

.ui-dialog .text {
    width: 210px;
}

.ui-dialog .radio {
    margin: 0px 0px 0px -36px;

    width: 17px;
    height: 17px;

    border: 0 none;
    outline: 0 none;
    cursor: pointer;
}

.ui-dialog .submit {
    width: 110px;
    height: 35px;

    color: #333;
    float: right;

    font-size: 14px;
    text-align: center;
    line-height: 35px;
    margin-top: -8px;

    cursor: pointer;
    border: 0 none;
    outline: 0 none;
    display: block;
    background-color: #A6D9CA;
}


.ui-dialog .left {
    width: 190px;
    height: 400px;
    color: #AAAAAA;
    float: left;

    letter-spacing: 0;
    vertical-align: top;
    background-color: #3e4243;
}

.overlay {
    opacity: 0.9;
    background-color: #EAEDEC;
    z-index: 99;
}

