@charset "utf-8";
/* 定义body及靠左靠右浮动的框 */

body {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 18px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}


#head {
    border: medium none;
    border-bottom: 0px dotted #DADADA;
    background-image: none;
    min-height: 63px;
    text-align: center;
}

#head #head-left {
    margin: 0 auto;
    width: 980px;
    min-width: 980px;
    overflow: visible;
    position: relative;
}

#head-logo {
    top: 22px;
    left: 0;
    position: absolute;
}

#head #head-left #head-logo img {
    float: left;
    margin: 5px 0 0 5px;
}


#head-nav {
    margin: 3px auto 0;
    width: 990px;
    min-width: 990px;
}


a: link {
    color: #0063DC;
    text-decoration: none;
}

#main {
    position: relative;
    width: 975px;
}
