#login_slider {
    width: 500px;
    height: 310px;
    background-color: #3E4243;
}

#login_container {
    width: 380px;
    height: 240px;
}


#login_container .ad-box {
    height: 100px;
    background-color: #2E4243;
}

