#main_slider {
    width: 200px;
    margin-left: 35px;
}

#main_gap {
    width: 200px;
    height: 80px;
}

#main_exam {
    width: 200px;
    height: 350px;
    background-color: #3E4243;
}

#words_token {
    width: 150px;
}

